# Pycache
src/**/__pycache__/

# Input and output folders
src/input/*
src/reports
src/logs

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg